# Introduction 
 To get data on the findbolig.nu and convert that to an estimate

In [1]:
import utilities as my
import pyperclip as py
import pandas as pd
import numpy as np
import pyperclip
import os 
from datetime import datetime, timedelta 
# my.update_file(file_name='utilities.py', check=True)

In [2]:
def get_modified_time(path):
    #Gaetting the modified time of the file.
    return os.stat(path).st_mtime

import os
from pathlib import Path

def get_latest_folder(directory_path):
    """
    Finds the most recently created folder in a given directory.

    Args:
    directory_path (str): The path of the directory to search in.

    Returns:
    str: The full path of the most recently created folder.
    """
    # Convert the string path to a Path object for easy manipulation
    directory = Path(directory_path)

    # Initialize variables to store the latest folder and its creation time
    latest_folder = None
    latest_time = 0

    # Iterate through each item in the directory
    for item in directory.iterdir():
        # Check if the item is a directory
        if item.is_dir():
            # Get the creation time of the directory
            creation_time = os.path.getctime(item)

            # If this directory is newer than the current 'latest', update 'latest_folder' and 'latest_time'
            if creation_time > latest_time:
                latest_folder = item
                latest_time = creation_time

    # Return the path of the latest folder, or None if no folders were found
    return str(latest_folder) if latest_folder else None
latest_folder_path = get_latest_folder(r"C:\Users\[user]\Documents\ShareX\Screenshots")

# Example usage
print("Latest folder:", latest_folder_path)


def remove_waste_in_downloads():
    #Removing files in the downloads folder that are older than 8 days.
    down = my.get_downloads()

    #Getting a set of paths from the downloads folder
    paths = my.hygin(down, '')



    #Setting the time barrier, the cut off point, so the current time minus 8 days (24 hours consisting of 60 minutes consisting of 60 seconds)
    time_barrier = datetime.timestamp(datetime.utcnow()) - 8*((24 * (60 * 60)))
    time_barrier = datetime.timestamp(datetime.utcnow()) - 8*((24 * (60 * 60)))
    barier_date = datetime.fromtimestamp(time_barrier).strftime("%x")
    barier_time = datetime.fromtimestamp(time_barrier).strftime("%X")
    print("the deletion date for files is ",barier_date, barier_time)

    #Iterating through the paths, and checking the modified time against the time barrier
    for path in paths:
        if 'Downloads' in path:
            if get_modified_time(path) < time_barrier:
                #actually deleting files
                os.remove(path)
            
            
    # lets walk thorugh the downloads folder and get all the folders
    # then we will check if the folder is older than 8 days
    # if it is older than 8 days, we will delete it or if they are empty
    for root, dirs, files in os.walk(down):
        for name in dirs:
            if 'Downloads' in path:
            #print(os.path.join(root, name))
                if get_modified_time(os.path.join(root, name)) < time_barrier:
                    #actually deleting files
                    os.rmdir(os.path.join(root, name))
                    print("deleted folder: ", os.path.join(root, name))
                elif len(os.listdir(os.path.join(root, name))) == 0:
                    os.rmdir(os.path.join(root, name))
                    print("deleted folder: ", os.path.join(root, name))
                
remove_waste_in_downloads()

the deletion date for files is  01/14/24 14:22:29

C:\Users\jbay\AppData\Local\Temp\ipykernel_42164\3125748018.py:13: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  time_barrier = datetime.timestamp(datetime.utcnow()) - 8*((24 * (60 * 60)))
C:\Users\jbay\AppData\Local\Temp\ipykernel_42164\3125748018.py:14: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  time_barrier = datetime.timestamp(datetime.utcnow()) - 8*((24 * (60 * 60)))

In [3]:
data = py.paste()
data = data.replace('Koldinggade 13-21, Randersgade 61-65', 'Randersgade')
data = data.replace('Koldinggade 13-21, 2100 København Ø', 'Randersgade 61-65')
data = data.replace(r'Koldinggade \nHusleje 0', 'Randersgade\nHusleje 0')
print(data)

Vis kun aktive ventelister
Lejlighed
Venteliste
Hørsholmsgade 22A-K
Hørsholmsgade 22A-K, 2200 København N
93 boliger i ejendommen
1 - 5 Vær.
57 - 126 m²
Hørsholmsgade
Husleje 2.881 - 16.102,-
Du er skrevet op til 66 boliger
Din bedste placering i denne ejendom: 360
Aktiv på ventelisten
Lejlighed
Venteliste
Oehlenschlægersgade/Mathæusgade
Oehlenschlægersgade 32-36, 1666 København V
42 boliger i ejendommen
2 - 6 Vær.
59 - 154 m²
Oehlenschlægergade
Husleje 2.666 - 13.449,-
Du er skrevet op til 35 boliger
Din bedste placering i denne ejendom: 486
Aktiv på ventelisten
Lejlighed
Venteliste
Vodroffsvej 37-41, VDL 1-3, DP 10-11
Vodroffsvej 37-41, 2000 Frederiksberg
82 boliger i ejendommen
1 - 7 Vær.
73 - 212.8 m²
Vodroffsvej
Husleje 4.596 - 31.349,-
Du er skrevet op til 5 boliger
Din bedste placering i denne ejendom: 212
Aktiv på ventelisten
Lejlighed
Venteliste
Randersgade
Randersgade 61-65
92 boliger i ejendommen
2 - 4 Vær.
40 - 121 m²
Randersgade
Husleje 3.411 - 20.443,-
Du er skrevet op til 90 boliger
Din bedste placering i denne ejendom: 491
Aktiv på ventelisten
Lejlighed
Venteliste
Slangerupgade 9-31
Slangerupgade 9-31, 2200 København N
92 boliger i ejendommen
1 - 3 Vær.
50.5 - 86 m²
Slangerupgade
Husleje 3.479 - 12.236,-
Du er skrevet op til 46 boliger
Din bedste placering i denne ejendom: 222
Aktiv på ventelisten
Lejlighed
Venteliste
Vodroffsvej 16
Vodroffsvej 16, 1900 Frederiksberg C
11 boliger i ejendommen
2 - 3 Vær.
93.7 - 143.3 m²
Vodroffsvej
Husleje 7.413 - 21.704,-
Du er skrevet op til 6 boliger
Din bedste placering i denne ejendom: 154
Aktiv på ventelisten
Lejlighed
Venteliste
Mariendalsvej 52 A-J
Mariendalsvej 52 A-J, 2000 Frederiksberg
92 boliger i ejendommen
2 - 4 Vær.
60 - 129 m²
Mariendalsvej
Husleje 0 - 18.691,-
Du er skrevet op til 82 boliger
Din bedste placering i denne ejendom: 189
Aktiv på ventelisten
Lejlighed
Venteliste
Kanslergade 1-7
Kanslergade 1-7, 2100 København Ø
75 boliger i ejendommen
2 - 8 Vær.
62 - 231.26 m²
Jagtvej
Husleje 3.832 - 31.739,-
Du er skrevet op til 6 boliger
Din bedste placering i denne ejendom: 354
Aktiv på ventelisten
Lejlighed
Venteliste
Koldinggade 28-30
Koldinggade 28-30, 2100 København Ø
16 boliger i ejendommen
2 - 4 Vær.
65 - 130 m²
Koldinggade
Husleje 3.467 - 18.958,-
Du er skrevet op til 12 boliger
Din bedste placering i denne ejendom: 487
Aktiv på ventelisten
Lejlighed
Venteliste
C. F. Richs vej 99 - 101
C. F. Richs vej 99 - 101, 2000 Frederiksberg
36 boliger i ejendommen
2 - 6 Vær.
35 - 180 m²
C. F. Richsvej
Husleje 1.789 - 20.428,-
Du er skrevet op til 5 boliger
Din bedste placering i denne ejendom: 500
Aktiv på ventelisten
Lejlighed
Venteliste
Trondhjemsgade 10
Trondhjemsgade 10, 2100 København Ø
10 boliger i ejendommen
3 - 6 Vær.
111 - 188 m²
Trondhjemsgade
Husleje 9.143 - 25.857,-
Du er skrevet op til 2 boliger
Din bedste placering i denne ejendom: 256
Aktiv på ventelisten
Lejlighed
Venteliste
Østerbrogade 114-116
Østerbrogade 114-116, 2100 København Ø
15 boliger i ejendommen
2 - 9 Vær.
85 - 288 m²
Østerbrogade
Husleje 9.704 - 32.764,-
Du er skrevet op til 2 boliger
Din bedste placering i denne ejendom: 221
Aktiv på ventelisten
Lejlighed
Venteliste
Sankt Jakobs Plads 3
Sankt Jakobs Plads 3, 2100 København Ø
12 boliger i ejendommen
1 - 5 Vær.
120 - 191 m²
Sankt Jakobs Plads
Husleje 7.226 - 21.146,-
Du er skrevet op til 1 bolig
Din bedste placering i denne ejendom: 280
Aktiv på ventelisten
Lejlighed
Venteliste
Horsensgade 14-16
Horsensgade 14-16, 2100 København Ø
15 boliger i ejendommen
2 - 5 Vær.
58 - 118 m²
Horsensgade
Husleje 2.637 - 9.192,-
Du er skrevet op til 8 boliger
Din bedste placering i denne ejendom: 492
Aktiv på ventelisten
Lejlighed
Venteliste
Nyelandsvej 20
Nyelandsvej 20, 2000 Frederiksberg
9 boliger i ejendommen
3 - 4 Vær.
86 - 88 m²
Nyelandsvej
Husleje 7.076 - 13.595,-
Du er skrevet op til 3 boliger
Din bedste placering i denne ejendom: 277
Aktiv på ventelisten

In [4]:
brute_force = 0

address_dict = {}
spaces_dict = {}
address = ''
for line in data.splitlines():
    if 'gade' in line or 'Alle' in line or 'vej' in line:
        # print(1, line)
        if "," in line:
            pass
        else:
            # print(2,line)
            if 'Kolding' in line and brute_force == 0:
                line = 'Randersgade'
                brute_force = 1	
            address = line
    if 'Din bedste placering i denne ejendom: ' in line:
        address_dict[address] = int(line.replace('Din bedste placering i denne ejendom: ', ''))
    elif 'Du er skrevet op til ' in line:
        new_line = line.replace('Du er skrevet op til ', '')
        new_line = new_line.replace(' boliger', '')
        new_line = new_line.replace(' bolig', '')
        spaces_dict[address] = int(new_line)
        #print(address_dict)

address_dict

{'Hørsholmsgade': 360,
 'Oehlenschlægergade': 486,
 'Vodroffsvej': 154,
 'Randersgade': 491,
 'Slangerupgade': 222,
 'Mariendalsvej': 189,
 'Jagtvej': 354,
 'Koldinggade': 487,
 'C. F. Richsvej': 500,
 'Trondhjemsgade': 256,
 'Østerbrogade': 280,
 'Horsensgade': 492,
 'Nyelandsvej': 277}

In [5]:
filename = r'local_storage\bolig' + str(int(datetime.now().timestamp())) + '.txt'

data = pyperclip.paste()

with open(filename, 'w', encoding='utf-8') as file:
    for line in data.splitlines():
        file.write(line + "\n")
        

new_df = pd.read_csv('pfa.csv')

#new_df.timestamp = pd.to_datetime(new_df.timestamp, unit='s')

try:
    df = pd.DataFrame.from_dict(address_dict, orient='index', columns=['rank'])
    df = df.T
    df.reset_index(drop=True, inplace=True)
    df['timestamp'] = int(datetime.now().timestamp())
    df['date'] = pd.to_datetime(df.timestamp, unit='s').dt.date
    df['week'] = pd.to_datetime(df.timestamp, unit='s').dt.isocalendar().week
    df = df[new_df.columns]
except Exception as e:
    print(e)
    

new_df = pd.concat([new_df, df], ignore_index=True)
new_df.reset_index(drop=True, inplace=True)

addresses = new_df.columns.tolist()
addresses.remove('timestamp')
addresses.remove('week')


new_df.drop_duplicates(subset=addresses, keep='last', inplace=True)
new_df.reset_index(drop=True, inplace=True)
addresses.remove('date')
addresses.append('timestamp')
addresses.append('date')
addresses.append('week')

new_df = new_df[addresses]

new_df.to_csv('pfa.csv', index=False)
new_df

"['Frederiksberg Alle'] not in index"

,Randersgade,Slangerupgade,Frederiksberg Alle,Koldinggade,C. F. Richsvej,Horsensgade,Trondhjemsgade,Østerbrogade,Hørsholmsgade,Oehlenschlægergade,Jagtvej,Vodroffsvej,Mariendalsvej,Nyelandsvej,timestamp,date,week
0,345.0,573.0,30.0,389.0,432.0,707.0,395.0,355.0,NaN,NaN,NaN,NaN,NaN,NaN,1685490915,2023-05-30,22
1,366.0,629.0,74.0,399.0,414.0,483.0,431.0,372.0,515.0,666.0,688.0,NaN,NaN,NaN,1686628010,2023-06-12,24
2,349.0,626.0,82.0,370.0,399.0,687.0,419.0,456.0,471.0,632.0,655.0,NaN,NaN,NaN,1687734928,2023-06-25,25
3,349.0,627.0,83.0,370.0,399.0,689.0,458.0,353.0,472.0,636.0,656.0,NaN,NaN,NaN,1687793170,2023-06-26,26
4,1172.0,615.0,81.0,356.0,425.0,698.0,409.0,452.0,455.0,598.0,638.0,NaN,NaN,NaN,1688303090,2023-07-02,26
5,304.0,501.0,85.0,315.0,399.0,587.0,383.0,307.0,386.0,524.0,541.0,NaN,NaN,NaN,1689173947,2023-07-12,28
6,310.0,510.0,89.0,319.0,372.0,594.0,405.0,311.0,386.0,528.0,551.0,NaN,NaN,NaN,1689425102,2023-07-15,28
7,285.0,459.0,82.0,291.0,347.0,560.0,360.0,376.0,359.0,474.0,495.0,NaN,NaN,NaN,1689941467,2023-07-21,29
8,295.0,484.0,84.0,304.0,355.0,574.0,393.0,285.0,372.0,500.0,517.0,NaN,NaN,NaN,1690465988,2023-07-27,30
9,287.0,500.0,83.0,289.0,343.0,379.0,372.0,279.0,375.0,502.0,513.0,NaN,NaN,NaN,1691401161,2023-08-07,32
10,302.0,528.0,94.0,306.0,351.0,395.0,386.0,292.0,396.0,525.0,539.0,NaN,NaN,NaN,1691998902,2023-08-14,33
11,308.0,518.0,99.0,306.0,347.0,589.0,379.0,397.0,391.0,516.0,536.0,NaN,NaN,NaN,1692647680,2023-08-21,34
12,273.0,470.0,89.0,280.0,305.0,541.0,344.0,363.0,354.0,476.0,496.0,NaN,NaN,NaN,1693228795,2023-08-28,35
13,278.0,496.0,NaN,292.0,323.0,559.0,370.0,280.0,371.0,487.0,522.0,NaN,NaN,NaN,1694032303,2023-09-06,36
14,265.0,463.0,NaN,286.0,317.0,537.0,360.0,273.0,350.0,468.0,488.0,NaN,NaN,NaN,1694455817,2023-09-11,37
15,265.0,456.0,NaN,288.0,362.0,520.0,344.0,273.0,346.0,466.0,484.0,NaN,NaN,NaN,1695052194,2023-09-18,38
16,193.0,379.0,NaN,216.0,280.0,426.0,292.0,174.0,277.0,366.0,402.0,NaN,NaN,NaN,1696356682,2023-10-03,40
17,211.0,392.0,NaN,239.0,302.0,464.0,288.0,320.0,299.0,395.0,424.0,NaN,NaN,NaN,1697044784,2023-10-11,41
18,695.0,375.0,NaN,139.0,589.0,358.0,277.0,188.0,506.0,372.0,408.0,NaN,NaN,NaN,1697479911,2023-10-16,42
19,679.0,355.0,NaN,133.0,567.0,559.0,354.0,184.0,486.0,356.0,394.0,NaN,NaN,NaN,1698091983,2023-10-23,43
20,635.0,335.0,NaN,128.0,559.0,541.0,330.0,181.0,423.0,341.0,379.0,NaN,NaN,NaN,1698674466,2023-10-30,44
21,664.0,325.0,NaN,127.0,562.0,354.0,296.0,196.0,453.0,366.0,401.0,NaN,NaN,NaN,1699903209,2023-11-13,46
22,618.0,293.0,NaN,106.0,513.0,543.0,331.0,183.0,426.0,563.0,368.0,NaN,NaN,NaN,1700676525,2023-11-22,47
23,599.0,288.0,NaN,103.0,454.0,529.0,324.0,172.0,416.0,553.0,358.0,NaN,NaN,NaN,1701107880,2023-11-27,48
24,545.0,276.0,NaN,106.0,590.0,523.0,313.0,171.0,402.0,535.0,352.0,226.0,241.0,313.0,1702049717,2023-12-08,49
25,556.0,279.0,NaN,110.0,594.0,529.0,314.0,174.0,406.0,534.0,357.0,227.0,244.0,317.0,1702304063,2023-12-11,50
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1702936904,2023-12-18,51
27,529.0,259.0,NaN,102.0,579.0,508.0,298.0,168.0,386.0,514.0,324.0,224.0,241.0,307.0,1704180780,2024-01-02,1
28,534.0,263.0,NaN,107.0,565.0,519.0,271.0,302.0,389.0,518.0,337.0,226.0,240.0,317.0,1704703696,2024-01-08,2
29,476.0,210.0,NaN,86.0,504.0,473.0,248.0,279.0,345.0,456.0,295.0,153.0,210.0,273.0,1705304604,2024-01-15,3
30,491.0,222.0,NaN,487.0,500.0,492.0,256.0,280.0,360.0,486.0,354.0,154.0,189.0,277.0,1705933349,2024-01-22,4

In [6]:
new_line = []
my_dict = {}
for col in new_df.columns:
    if 'date' in col or 'week' in col or 'timestamp' in col:
        new_line.append(0)
    else:
        if col != 'Frederiksberg Alle' and col != 'Vodroffsvej' and col != 'Mariendalsvej' and col != 'Nyelandsvej':
            
            filtered_df = new_df[new_df[col].notnull()]

            # convert the column to a numeric data type
            filtered_df[col] = pd.to_numeric(filtered_df[col], errors='coerce')
            if col == 'Hørsholmsgade':
                filtered_df = filtered_df[16:]
            # perform the linear regression
            x = filtered_df['timestamp']
            y = filtered_df[col]
            a, b = np.polyfit(x, y, 1)

            # find the x where y=0 (the intersection with x-axis)
            x_intersect = -b / a

            my_dict[col] = [a, b]
            x_intersect = datetime.fromtimestamp(x_intersect).strftime('%d-%m-%Y')  
            new_line.append(x_intersect)
        else:
            new_line.append(0)
            

        
new_df.loc[len(new_df)] = new_line
## Here is an overview of which of the apartmetns i will be joining the first
new_df

last_line = len(new_df) - 1

last_line = len(new_df) - 1

overview = new_df.T[last_line].reset_index()
overview.rename(columns={last_line: 'date', 'index': 'address'}, inplace=True)
overview = overview[overview.date != 0]
overview['date'] = pd.to_datetime(overview.date, dayfirst=True,  format='%d-%m-%Y')
overview.sort_values(by='date', inplace=True)
overview.reset_index(drop=True, inplace=True)

for key in my_dict.keys():
    a = my_dict[key][0]
    b = my_dict[key][1]
    
    overview.loc[overview.address == key, 'a'] = round(a, 10)
    overview.loc[overview.address == key, 'b'] = round(b, 2)
    overview.loc[overview.address == key, 'day_fall'] = round(a * 86400, 2)
    overview.loc[overview.address == key, 'week_fall'] = round(a * 604800, 2)
    
overview

C:\Users\jbay\AppData\Local\Temp\ipykernel_42164\1834604341.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[col] = pd.to_numeric(filtered_df[col], errors='coerce')

              address       date         a         b  day_fall  week_fall
0         Randersgade 2022-05-23  0.000010 -17267.66      0.90       6.32
1      C. F. Richsvej 2022-06-07  0.000011 -17626.68      0.92       6.44
2         Koldinggade 2024-04-28 -0.000013  22252.25     -1.12      -7.85
3       Slangerupgade 2024-05-19 -0.000020  35019.06     -1.76     -12.34
4             Jagtvej 2024-07-29 -0.000018  30154.76     -1.51     -10.59
5        Østerbrogade 2024-08-16 -0.000010  16955.66     -0.85      -5.95
6      Trondhjemsgade 2025-02-10 -0.000008  13761.01     -0.68      -4.79
7       Hørsholmsgade 2025-07-15 -0.000008  13943.93     -0.69      -4.81
8         Horsensgade 2026-01-31 -0.000007  12606.68     -0.62      -4.31
9  Oehlenschlægergade 2026-06-25 -0.000006  10184.47     -0.49      -3.46

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime

try:
    if new_df is None:
        new_df = pd.read_csv('pfa.csv')
    else:
        print('new_df already exists')
        pass
except Exception as e:
    print(e)
    print(type(e))
    new_df = pd.read_csv('pfa.csv')

my_dict = {}

for col in new_df.columns:
    if col != 'timestamp' and col != 'date' and col != 'week' and col != 'Frederiksberg Alle' and col != 'Vodroffsvej' and col != 'Mariendalsvej' and col != 'Nyelandsvej':
        # create an empty dictionary to store the results

        # replace 'col' with the name of the column you want to analyze
        #col = 'my_column_name'

        # filter out rows where the column is null
        filtered_df = new_df[new_df[col].notnull()].copy()

        # convert the column to a numeric data type
        filtered_df[col] = pd.to_numeric(filtered_df[col], errors='coerce')

        # remove rows where the column is NaN
        filtered_df = filtered_df.dropna(subset=[col])

        # perform the linear regression
        x = filtered_df['timestamp']
        y = filtered_df[col]
        a, b = np.polyfit(x, y, 1)

        # find the x where y=0 (the intersection with x-axis)
        x_intersect = -b / a

        # calculate the x-intercept for the subset of data that excludes the most recent data point
        last_week = filtered_df[:len(filtered_df) - 1]
        x1 = last_week['timestamp']
        y1 = last_week[col]
        a1, b1 = np.polyfit(x1, y1, 1)
        x_intersect1 = -b1 / a1
        x_intersect = datetime.fromtimestamp(x_intersect).strftime('%d-%m-%Y')  
        x_intersect1 = datetime.fromtimestamp(x_intersect1).strftime('%d-%m-%Y')
        my_dict[col] = {'a': a, 'b': b, 'x_intersect': x_intersect, 'x_intersect1': x_intersect1}

new_df already exists

In [8]:
new_df

,Randersgade,Slangerupgade,Frederiksberg Alle,Koldinggade,C. F. Richsvej,Horsensgade,Trondhjemsgade,Østerbrogade,Hørsholmsgade,Oehlenschlægergade,Jagtvej,Vodroffsvej,Mariendalsvej,Nyelandsvej,timestamp,date,week
0,345.0,573.0,30.0,389.0,432.0,707.0,395.0,355.0,NaN,NaN,NaN,NaN,NaN,NaN,1685490915,2023-05-30,22
1,366.0,629.0,74.0,399.0,414.0,483.0,431.0,372.0,515.0,666.0,688.0,NaN,NaN,NaN,1686628010,2023-06-12,24
2,349.0,626.0,82.0,370.0,399.0,687.0,419.0,456.0,471.0,632.0,655.0,NaN,NaN,NaN,1687734928,2023-06-25,25
3,349.0,627.0,83.0,370.0,399.0,689.0,458.0,353.0,472.0,636.0,656.0,NaN,NaN,NaN,1687793170,2023-06-26,26
4,1172.0,615.0,81.0,356.0,425.0,698.0,409.0,452.0,455.0,598.0,638.0,NaN,NaN,NaN,1688303090,2023-07-02,26
5,304.0,501.0,85.0,315.0,399.0,587.0,383.0,307.0,386.0,524.0,541.0,NaN,NaN,NaN,1689173947,2023-07-12,28
6,310.0,510.0,89.0,319.0,372.0,594.0,405.0,311.0,386.0,528.0,551.0,NaN,NaN,NaN,1689425102,2023-07-15,28
7,285.0,459.0,82.0,291.0,347.0,560.0,360.0,376.0,359.0,474.0,495.0,NaN,NaN,NaN,1689941467,2023-07-21,29
8,295.0,484.0,84.0,304.0,355.0,574.0,393.0,285.0,372.0,500.0,517.0,NaN,NaN,NaN,1690465988,2023-07-27,30
9,287.0,500.0,83.0,289.0,343.0,379.0,372.0,279.0,375.0,502.0,513.0,NaN,NaN,NaN,1691401161,2023-08-07,32
10,302.0,528.0,94.0,306.0,351.0,395.0,386.0,292.0,396.0,525.0,539.0,NaN,NaN,NaN,1691998902,2023-08-14,33
11,308.0,518.0,99.0,306.0,347.0,589.0,379.0,397.0,391.0,516.0,536.0,NaN,NaN,NaN,1692647680,2023-08-21,34
12,273.0,470.0,89.0,280.0,305.0,541.0,344.0,363.0,354.0,476.0,496.0,NaN,NaN,NaN,1693228795,2023-08-28,35
13,278.0,496.0,NaN,292.0,323.0,559.0,370.0,280.0,371.0,487.0,522.0,NaN,NaN,NaN,1694032303,2023-09-06,36
14,265.0,463.0,NaN,286.0,317.0,537.0,360.0,273.0,350.0,468.0,488.0,NaN,NaN,NaN,1694455817,2023-09-11,37
15,265.0,456.0,NaN,288.0,362.0,520.0,344.0,273.0,346.0,466.0,484.0,NaN,NaN,NaN,1695052194,2023-09-18,38
16,193.0,379.0,NaN,216.0,280.0,426.0,292.0,174.0,277.0,366.0,402.0,NaN,NaN,NaN,1696356682,2023-10-03,40
17,211.0,392.0,NaN,239.0,302.0,464.0,288.0,320.0,299.0,395.0,424.0,NaN,NaN,NaN,1697044784,2023-10-11,41
18,695.0,375.0,NaN,139.0,589.0,358.0,277.0,188.0,506.0,372.0,408.0,NaN,NaN,NaN,1697479911,2023-10-16,42
19,679.0,355.0,NaN,133.0,567.0,559.0,354.0,184.0,486.0,356.0,394.0,NaN,NaN,NaN,1698091983,2023-10-23,43
20,635.0,335.0,NaN,128.0,559.0,541.0,330.0,181.0,423.0,341.0,379.0,NaN,NaN,NaN,1698674466,2023-10-30,44
21,664.0,325.0,NaN,127.0,562.0,354.0,296.0,196.0,453.0,366.0,401.0,NaN,NaN,NaN,1699903209,2023-11-13,46
22,618.0,293.0,NaN,106.0,513.0,543.0,331.0,183.0,426.0,563.0,368.0,NaN,NaN,NaN,1700676525,2023-11-22,47
23,599.0,288.0,NaN,103.0,454.0,529.0,324.0,172.0,416.0,553.0,358.0,NaN,NaN,NaN,1701107880,2023-11-27,48
24,545.0,276.0,NaN,106.0,590.0,523.0,313.0,171.0,402.0,535.0,352.0,226.0,241.0,313.0,1702049717,2023-12-08,49
25,556.0,279.0,NaN,110.0,594.0,529.0,314.0,174.0,406.0,534.0,357.0,227.0,244.0,317.0,1702304063,2023-12-11,50
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1702936904,2023-12-18,51
27,529.0,259.0,NaN,102.0,579.0,508.0,298.0,168.0,386.0,514.0,324.0,224.0,241.0,307.0,1704180780,2024-01-02,1
28,534.0,263.0,NaN,107.0,565.0,519.0,271.0,302.0,389.0,518.0,337.0,226.0,240.0,317.0,1704703696,2024-01-08,2
29,476.0,210.0,NaN,86.0,504.0,473.0,248.0,279.0,345.0,456.0,295.0,153.0,210.0,273.0,1705304604,2024-01-15,3
30,491.0,222.0,NaN,487.0,500.0,492.0,256.0,280.0,360.0,486.0,354.0,154.0,189.0,277.0,1705933349,2024-01-22,4
31,23-05-2022,19-05-2024,0.0,28-04-2024,07-06-2022,31-01-2026,10-02-2025,16-08-2024,15-07-2025,25-06-2026,29-07-2024,0.0,0.0,0.0,0,0,0

In [9]:
# lets make a new dataframe with the results, so the last line of the new_df with the columns which are not he last three items
last_line = len(new_df) - 2

line = new_df.T[last_line].reset_index()
# now lets remove the last three items
line[:-3].to_clipboard()

In [10]:
local_df = pd.DataFrame.from_dict(my_dict, orient='index')
local_df.reset_index(inplace=True)
local_df.rename(columns={'index': 'address'}, inplace=True)

may  = datetime(year = 2023,
         month = 5,
         day = 1)

for i in range(len(local_df)):
    x = local_df.at[i, 'x_intersect']
    y = local_df.at[i, 'x_intersect1']
    x = datetime.strptime(x, '%d-%m-%Y')
    y = datetime.strptime(y, '%d-%m-%Y')
    x_delta = x - may
    y_delta = y - may
    y_delta = y_delta.days
    x_delta = x_delta.days
    
    local_df.at[i, 'full_data'] = x_delta
    local_df.at[i, 'last_week_data'] = y_delta
    
local_df.sort_values('last_week_data', inplace=True)
local_df.reset_index(inplace=True, drop=True)
local_df.reset_index(inplace=True)
local_df.rename(columns={'index': 'last_week_rank',
                          'x_intersect': 'today',
                          'x_intersect1': 'last_week'}, inplace=True)
local_df.sort_values('full_data', inplace=True)
local_df.reset_index(inplace=True, drop=True)

for address in local_df.address:
    if address in spaces_dict.keys():
        x = spaces_dict[address]
    else:
        x = 0
        
    local_df.loc[local_df.address == address, 'spaces'] = x
    

local_df = local_df[['address',
'today',
'last_week',
'full_data',
'last_week_data',
'last_week_rank',
'spaces',
'a',
'b',]]

print( 'The script has been run', datetime.now().strftime("%d-%m-%Y %H:%M:%S"))
    
local_df

The script has been run 22-01-2024 15:22:29

,address,today,last_week,full_data,last_week_data,last_week_rank,spaces,a,b
0,Randersgade,23-05-2022,19-06-2022,-343.0,-316.0,0,90.0,0.000010,-17267.660260
1,C. F. Richsvej,07-06-2022,27-06-2022,-328.0,-308.0,1,5.0,0.000011,-17626.680594
2,Koldinggade,28-04-2024,24-02-2024,363.0,299.0,2,12.0,-0.000013,22252.251400
3,Slangerupgade,19-05-2024,17-05-2024,384.0,382.0,3,46.0,-0.000020,35019.063392
4,Jagtvej,29-07-2024,14-07-2024,455.0,440.0,5,6.0,-0.000018,30154.764056
5,Østerbrogade,16-08-2024,08-07-2024,473.0,434.0,4,1.0,-0.000010,16955.655810
6,Trondhjemsgade,10-02-2025,16-02-2025,651.0,657.0,6,2.0,-0.000008,13761.007205
7,Horsensgade,31-01-2026,13-12-2025,1006.0,957.0,7,8.0,-0.000007,12606.682794
8,Oehlenschlægergade,25-06-2026,18-03-2026,1151.0,1052.0,8,35.0,-0.000006,10184.472516
9,Hørsholmsgade,09-11-2029,03-08-2030,2384.0,2651.0,9,66.0,-0.000002,3902.176601

In [11]:
local_df.to_clipboard()